
/* ======= CONTAINER ======= */
#csscontainer{
    display:block;
    position:absolute;
    top:20%;
    left:20%;
    width:34vh;
    height:34vh;
    margin-left:-17vh;
    margin-top:-17vh;
    overflow:hidden;
    transition:background-color 500ms;
    cursor:pointer;
  }
 
  #htmlcontainer{
    display:block;
    position:absolute;
    top:20%;
    left:50%;
    width:34vh;
    height:34vh;
    margin-left:-17vh;
    margin-top:-17vh;
    overflow:hidden;
    transition:background-color 500ms;
    cursor:pointer;
  }

  #phpcontainer{
    display:block;
    position:relative;
    top:20%;
    left:80%;
    width:34vh;
    height:34vh;
    margin-left:-17vh;
    margin-top:-17vh;
    overflow:hidden;
    transition:background-color 500ms;
    cursor:pointer;
  }

  #btcontainer{
    display:block;
    position:relative;
    top: 50%;
    left: 20%;
    width:34vh;
    height:34vh;
    margin-left:-17vh;
    margin-top:-17vh;
    overflow:hidden;
    transition:background-color 500ms;
    cursor:pointer;
  }


  #jscontainer{
    display:block;
    position:relative;
    top: 25%;
    left:80%;
    width:34vh;
    height:34vh;
    margin-left:-17vh;
    margin-top:-17vh;
    overflow:hidden;
    transition:background-color 500ms;
    cursor:pointer;
  }

  #mysqlcontainer{
    display:block;
    position:relative;
    top: 0%;
    left:50%;
    width:34vh;
    height:34vh;
    margin-left:-17vh;
    margin-top:-17vh;
    overflow:hidden;
    transition:background-color 500ms;
    cursor:pointer;
  }
  
  /* ======= LOGO ======= */

  #pelogo{
    display: block;
    position: absolute;
    left: 2vh;
    top: 2vh;
    width: 30vh;
    height: 30vh;
    background: #34324b;
    background: -moz-linear-gradient(-45deg, #34324b 0%, #161222 100%);
    background: -webkit-linear-gradient(-45deg, #34324b 0%,#161222 100%);
    background: linear-gradient(135deg, #34324b 0%,#161222 100%);
    background-size: contain;
    font-family: Trebuchet MS, sans-serif;
    font-size: 10vh;
    font-weight: bold;
    color: #3ebffa;
    text-align: center;
    line-height: 30vh;
  }

  #btlogo{
    display: block;
    position: absolute;
    left: 2vh;
    top: 2vh;
    width: 30vh;
    height: 30vh;
    background: #34324b;
    background: -moz-linear-gradient(-45deg, #34324b 0%, #161222 100%);
    background: -webkit-linear-gradient(-45deg, #34324b 0%,#161222 100%);
    background: linear-gradient(135deg, #34324b 0%,#161222 100%);
    background-size: contain;
    font-family: Trebuchet MS, sans-serif;
    font-size: 5vh;
    font-weight: bold;
    color: #3ebffa;
    text-align: center;
    line-height: 30vh;
  }
  #jslogo{
    display: block;
    position: absolute;
    left: 2vh;
    top: 2vh;
    width: 30vh;
    height: 30vh;
    background: #34324b;
    background: -moz-linear-gradient(-45deg, #34324b 0%, #161222 100%);
    background: -webkit-linear-gradient(-45deg, #34324b 0%,#161222 100%);
    background: linear-gradient(135deg, #34324b 0%,#161222 100%);
    background-size: contain;
    font-family: Trebuchet MS, sans-serif;
    font-size: 5vh;
    font-weight: bold;
    color: #3ebffa;
    text-align: center;
    line-height: 30vh;
  }
  #mysqllogo{
    display: block;
    position: absolute;
    left: 2vh;
    top: 2vh;
    width: 30vh;
    height: 30vh;
    background: #34324b;
    background: -moz-linear-gradient(-45deg, #34324b 0%, #161222 100%);
    background: -webkit-linear-gradient(-45deg, #34324b 0%,#161222 100%);
    background: linear-gradient(135deg, #34324b 0%,#161222 100%);
    background-size: contain;
    font-family: Trebuchet MS, sans-serif;
    font-size: 10vh;
    font-weight: bold;
    color: #3ebffa;
    text-align: center;
    line-height: 30vh;
  }
  
  .loader{
    display:block;
    position:absolute;
    background-color:#3ebffa;
  }
  
  /*Pretty complex animation, so each side needs its own @keyframes.*/
  
  @keyframes slide1{
    50%{width:32vh; margin-left:0;}
    100%{margin-left:32vh;
    }
  }
  
  @keyframes slide2{
    50%{height:32vh; margin-top:0;}
    100%{margin-top:32vh;}
  }
  
  @keyframes slide3{
    50%{width:32vh; margin-right:0;}
    100%{margin-right:32vh;}
  }
  
  @keyframes slide4{
    50%{height:32vh; margin-bottom:0}
    100%{margin-bottom:32vh;}
  }